<div class="reviewwithimage_section">
        <div class="newblock_img_with_text">
       <div class="main_reviewwithimage_section">
        
        <div class="left_img_section">
          <img src="{{block.settings.customerimage | img_url: 'medium'}}">
         </div>
        
         <div class="right_content_section">
         
          <div class="author_bio"><p>{{block.settings.reviewtext}}</p></div>
		
        <div class="authr_name">
          
          <span class="text_authr">{{block.settings.reviewname}}</span>
          
          
          <strong> <i class="fa fa-check-circle" aria-hidden="true"></i>{{block.settings.verifiedbuyer}}</strong>  
          
        </div>
         </div>
          </div>
          </div>
        </div>

<style>



  .authr_name .fa-check-circle:before {
    content: "\f058" !important;
  }
  .main_reviewwithimage_section {
    display: flex;
    width: 100%;
    background-color: {{block.settings.backgroundcolor}};
    padding: 20px;
    border-radius: 12px;
  }
  .left_img_section {
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    max-width: 80px;
    text-align: center;
  }
  .right_content_section {
    padding-left: 20px;
  }
  .newblock_img_with_text {
    max-width: 100%;
    margin: 0 auto;
    background: #fff;
    padding: 20px 0;
  }
  .right_content_section p {
    font-size: {{block.settings.reviewfontsize}}px;
    line-height: 21px;
    color: black;
  }
  .reviewwithimage_section span.text_authr {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 14px;
    color: black;
    margin-right: 4px;
  }
  .authr_name strong {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
    font-size: 14px;
    line-height: 14px;
    color: black;
  }
  .authr_name i {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 14px;
    color: {{block.settings.checkcolor}};
    margin-right: 7px;
  }
  .left_img_section img {
    width: 100%;
  }
  @media only screen and (max-width: 767px) {
    .right_content_section p {
      font-size: {{block.settings.reviewfontsizemobile}}px;
      line-height: 28px;
      color: black;
      margin: 0;
    }
  }
  @media only screen and (max-width: 385px) {
    .main_reviewwithimage_section {
      flex-wrap: wrap;
      justify-content: center;
    }
    .right_content_section {
      padding-left: 0;
    }
    .left_img_section {
      -ms-flex: 0 0 60px;
      flex: 0 0 60px;
      max-width: 60px;
    }
  }


  .newblock_img_with_text .authr_name {
    margin-top: 10px;
  }

</style>
