<div
  {{ block.shopify_attributes }}
  style="--margin-top: {{ block.settings.margin_top | divided_by: 10.0 }}rem;--margin-bottom: {{ block.settings.margin_bottom | divided_by: 10.0 }}rem;"
>

<div id="locationinfop" class="free-shipping" style="text-align:center;font-size:{{block.settings.geolocationtextsize}}px;"></div>

</div>

<script>


  // A mapping of country codes to flag emojis (using Unicode flag characters)
const countryFlags = {
    'US': '馃嚭馃嚫',
    'CA': '馃嚚馃嚘',
    'FR': '馃嚝馃嚪',
    'NL': '馃嚦馃嚤',
    'DE': '馃嚛馃嚜',
    'GB': '馃嚞馃嚙',
    'IT': '馃嚠馃嚬',
    'ES': '馃嚜馃嚫',
    'CN': '馃嚚馃嚦',
    'JP': '馃嚡馃嚨',
    'BR': '馃嚙馃嚪',
    'IN': '馃嚠馃嚦',
    'RU': '馃嚪馃嚭',
    'ZA': '馃嚳馃嚘',
    'AU': '馃嚘馃嚭',
    'NZ': '馃嚦馃嚳',
    'MX': '馃嚥馃嚱',
    'AR': '馃嚘馃嚪',
    'CL': '馃嚚馃嚤',
    'CO': '馃嚚馃嚧',
    'PE': '馃嚨馃嚜',
    'VE': '馃嚮馃嚜',
    'EC': '馃嚜馃嚚',
    'GT': '馃嚞馃嚬',
    'HN': '馃嚟馃嚦',
    'SA': '馃嚫馃嚘',
    'AE': '馃嚘馃嚜',
    'TR': '馃嚬馃嚪',
    'TH': '馃嚬馃嚟',
    'MY': '馃嚥馃嚲',
    'SG': '馃嚫馃嚞',
    'ID': '馃嚠馃嚛',
    'PH': '馃嚨馃嚟',
    'VN': '馃嚮馃嚦',
    'KR': '馃嚢馃嚪',
    'KP': '馃嚢馃嚨',
    'SE': '馃嚫馃嚜',
    'NO': '馃嚦馃嚧',
    'FI': '馃嚝馃嚠',
    'DK': '馃嚛馃嚢',
    'IS': '馃嚠馃嚫',
    'IE': '馃嚠馃嚜',
    'CH': '馃嚚馃嚟',
    'PT': '馃嚨馃嚬',
    'BE': '馃嚙馃嚜',
    'LU': '馃嚤馃嚭',
    'PL': '馃嚨馃嚤',
    'CZ': '馃嚚馃嚳',
    'SK': '馃嚫馃嚢',
    'HU': '馃嚟馃嚭',
    'AT': '馃嚘馃嚬',
    'LI': '馃嚤馃嚠',
    'GR': '馃嚞馃嚪',
    'BG': '馃嚙馃嚞',
    'RO': '馃嚪馃嚧',
    'UA': '馃嚭馃嚘',
    'BY': '馃嚙馃嚲',
    'LT': '馃嚤馃嚬',
    'LV': '馃嚤馃嚮',
    'EE': '馃嚜馃嚜',
    'MD': '馃嚥馃嚛',
    'AM': '馃嚘馃嚥',
    'GE': '馃嚞馃嚜',
    'AZ': '馃嚘馃嚳',
    'IR': '馃嚠馃嚪',
    'IQ': '馃嚠馃嚩',
    'SY': '馃嚫馃嚲',
    'LB': '馃嚤馃嚙',
    'JO': '馃嚡馃嚧',
    'IL': '馃嚠馃嚤',
    'EG': '馃嚜馃嚞',
    'MA': '馃嚥馃嚘',
    'DZ': '馃嚛馃嚳',
    'TN': '馃嚬馃嚦',
    'LY': '馃嚤馃嚲',
    'GM': '馃嚞馃嚥',
    'SN': '馃嚫馃嚦',
    'MR': '馃嚥馃嚪',
    'ML': '馃嚥馃嚤',
    'GN': '馃嚞馃嚦',
    'CI': '馃嚚馃嚠',
    'BF': '馃嚙馃嚝',
    'NE': '馃嚦馃嚜',
    'TG': '馃嚬馃嚞',
    'BJ': '馃嚙馃嚡',
    'NG': '馃嚦馃嚞',
    'CM': '馃嚚馃嚥',
    'GA': '馃嚞馃嚘',
    'CG': '馃嚚馃嚞',
    'CD': '馃嚚馃嚛',
    'AO': '馃嚘馃嚧',
    'GW': '馃嚞馃嚰',
    'SC': '馃嚫馃嚚',
    'SD': '馃嚫馃嚛',
    'RW': '馃嚪馃嚰',
    'ET': '馃嚜馃嚬',
    'SO': '馃嚫馃嚧',
    'DJ': '馃嚛馃嚡',
    'KE': '馃嚢馃嚜',
    'TZ': '馃嚬馃嚳',
    'UG': '馃嚭馃嚞',
    'BI': '馃嚙馃嚠',
    'MZ': '馃嚥馃嚳',
    'ZM': '馃嚳馃嚥',
    'MW': '馃嚥馃嚰',
    'LS': '馃嚤馃嚫',
    'BW': '馃嚙馃嚰',
    'NA': '馃嚦馃嚘',
    'ZA': '馃嚳馃嚘',
    'SZ': '馃嚫馃嚳',
    'HK': '馃嚟馃嚢',
    'PK': '馃嚨馃嚢'
    // Add more country code mappings here
};

function setLocationInfo(countryCode, countryName) {
    const flagEmoji = countryFlags[countryCode]; // Get the flag emoji using the country code
    const locationInfoP = document.getElementById('locationinfop');
    const locationInfoCart = document.getElementById('locationinfocart');

    // Check if the flagEmoji exists. If it does, prepend it to the message
    const shippingMessage = flagEmoji
        ? `${flagEmoji} | <span>{{block.settings.geolocationtext}}</span> <span style="text-decoration: {{block.settings.geolocationtextdecoration}}; color: black;font-weight:bold;">${countryName}</span>`
        : `馃摝 | <span>{{block.settings.geolocationtext}}</span> <span style="text-decoration: {{block.settings.geolocationtextdecoration}}; color: black;font-weight:bold;">${countryName}</span>`;

    const shippingMessageCart = flagEmoji
        ? `to ${flagEmoji} ${countryCode}`
        : `to ${countryCode}`;

    if (locationInfoP) {
        locationInfoP.innerHTML = shippingMessage;
    }
    if (locationInfoCart) {
      //  locationInfoCart.innerHTML = shippingMessageCart;
    }
}

// This function fetches the browsing context suggestions and updates the p tag
async function fetchLocationInfo() {
    try {
        const response = await fetch('/browsing_context_suggestions.json');
        const data = await response.json();
        // Use the detected country code and country name from the response
        const countryCode = data.detected_values.country.handle;
        const countryName = data.detected_values.country.name;
        
        // Update the location info p tag with the country name and flag emoji
        setLocationInfo(countryCode, countryName);
    } catch (error) {
        console.error('Error fetching location info:', error);
    }
}

// Call the function to fetch location info on DOM content load
document.addEventListener('DOMContentLoaded', (event) => {
    fetchLocationInfo();
});

document.addEventListener('cart:change', function(event) {
    fetchLocationInfo();
});



  
</script>

{% schema %}
{
  "name": "Geo Location Flag",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "geolocationtext",
      "label": "Location text",
      "default": "Shipping to"
    },
    {
      "type": "select",
      "id": "geolocationtextdecoration",
      "label": "Text decoration",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "underline",
          "label": "Underline"
        },
        {
          "value": "line-through",
          "label": "Line through"
        }
      ],
      "default": "none"
    },
    {
      "type": "header",
      "content": "Styling"
    },
    {
      "type": "range",
      "id": "geolocationtextsize",
      "min": 12,
      "max": 24,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 16
    },
    {
      "type": "header",
      "content": "Margins"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Top",
      "min": 0,
      "max": 45,
      "step": 3,
      "unit": "px",
      "default": 24
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Bottom",
      "min": 0,
      "max": 45,
      "step": 3,
      "unit": "px",
      "default": 24
    }
  ],
  "presets": [
    {
      "name": "Geo Location Flag",
      "category": "Product"
    }
  ]
}
{% endschema %}
