<div
  {{ block.shopify_attributes }}
  style="--margin-top: {{ block.settings.margin_top | divided_by: 10.0 }}rem; --margin-bottom: {{ block.settings.margin_bottom | divided_by: 10.0 }}rem;"
>

<div class="customproductStats">
  <div class="customproductStatsLeft">
    <img src="{{ block.settings.image_url | img_url: '300x' }}" style="max-width: {{ block.settings.image_width }}px;">
  </div>
  <div class="customproductStatsRight" style="font-weight: {{ block.settings.font_weight | escape }}; font-size: {{ block.settings.font_size }}px;">
    {{ block.settings.stats_text }}
  </div>
</div>

</div>


<style>
.customproductStatsLeft {
  margin-right: 16px;
}
.customproductStatsLeft img {
  display: block;
}
.customproductStatsRight {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}
.customproductStats {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
</style>

{% schema %}
{
  "name": "Social Proof Customers",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "image_picker",
      "id": "image_url",
      "label": "Customer image"
    },
    {
      "type": "richtext",
      "id": "stats_text",
      "label": "Social proof text",
      "default": "<p>Join 10,000+ happy customers!</p>"
    },
    {
      "type": "header",
      "content": "Styling"
    },
    {
      "type": "range",
      "id": "image_width",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "Image width",
      "default": 100
    },
    {
      "type": "range",
      "id": "font_size",
      "min": 12,
      "max": 24,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 16
    },
    {
      "type": "select",
      "id": "font_weight",
      "label": "Font weight",
      "options": [
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Normal"
        },
        {
          "value": "500",
          "label": "Medium"
        },
        {
          "value": "600",
          "label": "Semi Bold"
        },
        {
          "value": "700",
          "label": "Bold"
        }
      ],
      "default": "400"
    },
    {
      "type": "header",
      "content": "Margins"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Top",
      "min": 0,
      "max": 45,
      "step": 3,
      "unit": "px",
      "default": 24
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Bottom",
      "min": 0,
      "max": 45,
      "step": 3,
      "unit": "px",
      "default": 24
    }
  ],
  "presets": [
    {
      "name": "Social Proof Customers",
      "category": "Product"
    }
  ]
}
{% endschema %}
