{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}

{%- style -%}
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.mobile_padding_top }}px;
        padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
      }

      @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
          padding-top: {{ section.settings.desktop_padding_top }}px;
          padding-bottom: {{ section.settings.desktop_padding_bottom }}px;
        }
      }
      .icon-with-text {
      width: 100%!important;
  }
{%- endstyle -%}

{%- liquid
  if section.settings.section_color_scheme == section.settings.color_scheme
    assign no_content_background = true
  endif

  if settings.text_boxes_shadow_opacity == 0 and settings.text_boxes_border_thickness == 0 or settings.text_boxes_border_opacity == 0
    assign no_content_styles = true
  endif

  if no_content_background and no_content_styles
    assign padding_class = ' collapse-padding'
    assign same_bgs = true
  endif
-%}

<div class="color-{{ section.settings.section_color_scheme }} content-for-grouping animate-section animate--hidden {{ section.settings.visibility }}">
  {% if section.settings.display_id %}
    <copy-button class="section-id-btn button" data-content="#shopify-section-{{ section.id }}" data-success="false">
      <span class="copy-text">Click to copy section ID</span>
      <span class="copy-success">ID copied successfully!</span>
    </copy-button>
  {% endif %}
  <div class="image-with-text image-with-text--{{ section.settings.content_layout }} image-with-text--mobile-{{ section.settings.mobile_direction }} page-width isolate{% if settings.text_boxes_border_thickness > 0 and settings.text_boxes_border_opacity > 0 and settings.media_border_thickness > 0 and settings.media_border_opacity > 0 %} collapse-borders{% endif %}{% unless section.settings.color_scheme == 'background-1' and settings.media_border_thickness > 0 and settings.text_boxes_shadow_opacity == 0 and settings.text_boxes_border_thickness == 0 or settings.text_boxes_border_opacity == 0 %} collapse-corners{% endunless %}{% if same_bgs %} same-colors{% else %} different-colors{% endif %}{{ padding_class }} section-{{ section.id }}-padding">
    <div class="image-with-text__grid grid grid--gapless grid--1-col grid--{% if section.settings.desktop_image_width == 'medium' %}2-col-tablet{% else %}3-col-tablet{% endif %}{% if section.settings.layout == 'text_first' %} image-with-text__grid--reverse{% endif %} animate-item">
      <div class="image-with-text__media-item image-with-text__media-item--{{ section.settings.desktop_image_width }} image-with-text__media-item--{{ section.settings.desktop_content_position }}{% if section.settings.mobile_full_media_width %} image-with-text__media--mobile-full{% endif %} grid__item">
        <div class="cost_compare_inner">
          <div class="industry__compare">
            <div class="forchics_industry">
              <div class="industry_brand">
                {{ section.settings.brandname }}
              </div>
              <div class="compare_price">
                {{ section.settings.brandprice }}
              </div>
            </div>
            <div class="other_industry">
              <div class="other_industry_brand">
                {{ section.settings.otherbrandname }}
              </div>
              <h3 class="compare_price">
                {{ section.settings.otherbrandprice }}
              </h3>
            </div>
          </div>

          <h3 class="industry_compare_info">
            {{ section.settings.subheadlinetext }}
          </h3>
        </div>

        <style>
           .treatment__section__container {
             padding-top: 25px;
             padding-bottom: 25px;
             background-color: #8b7078;
           }
           .section__wrapper {
             padding: 0 15px;
             width: 100%;
             margin: auto;
             max-width: 1250px;
           }
           .section__contents {
             display: flex;
             justify-content: center;
             align-items: center;
             margin-left: -15px;
             margin-right: -15px;
           }
           .content__wrapper {
             padding: 20px;
             width: 100%;
           }
           .cost_compare_inner {
             padding: 50px!important;
             background-color: #ffffff!important;
             border-radius: 25px!important;
             margin-bottom: 0!important;
           }
           .industry__compare {
             display: flex!important;
             align-items: flex-end!important;
             justify-content: center!important;
             flex-flow: row nowrap!important;
             gap: 15px!important;
           }
           .forchics_industry {
             background-color:  {{ section.settings.uscomparebackground }};
             height:  {{ section.settings.uspriceheight }}px;
             display: flex;
             flex-flow: column wrap;
             align-items: center;
             justify-content: center;
             padding: 15px;
             border-radius: 3px;
             width: 50%!important;
             align-content: center;
           }
           .other_industry{
             background-color: {{ section.settings.othercomparebackground }};
             height: {{ section.settings.otherpriceheight }}px;
             display: flex;
             flex-flow: column wrap;
             align-items: center;
             justify-content: center;
             padding: 15px;
             border-radius: 3px;
             width: 50%!important;
           }
           .cost_compare_inner {
             padding: 50px!important;
             background-color: #fff!important;
             border-radius: 25px!important;
             margin-bottom: 0!important;
           }
           .other_industry_brand {
             font-weight: 700!important;
             margin-bottom: 0!important;
             margin-top: 10px!important;
             color: {{ section.settings.otherheadingcolor }};
             text-align: center!important;
             font-size: 14px!important;
             margin: auto;
           }
           .compare_price {
             font-size: 40px!important;
             font-weight: 800!important;
             margin-bottom: 0!important;
             margin-top: 0!important;
             color:  {{ section.settings.pricecolor }};
             text-align: center!important;
             letter-spacing: 0px!important;
             line-height: 1.3em!important;
             margin: auto;
           }
          .industry_brand {
             font-size: 24px;
             font-weight: 700;
             margin: 0 auto;
             color: {{ section.settings.usheadingcolor }};
             text-align: center;
           }
          .industry_compare_info{
             margin-top: 10px !important;
             text-align: center;
             font-weight: 700;
           }
          .cost_compare_heading {
             font-size: 48px;
             font-weight: 700;
             margin-bottom: 0;
             margin-top: 0;
             color: #fff;
             text-transform: none !important;
             line-height: 1.3em;
           }
           .compare_btn,
           p.cost_compare_content {
             color: #fff;
           }


           a.compare_btn {
             background-color: #000;
             font-weight: 700;
             padding: 20px 45px;
             border-radius: 10px;
             font-size: 16px;
             box-shadow: #e3bc9a 0 0 45px;
             margin-bottom: 25px;
           }
           i.fa.fa-star {
             color: #f8b2b4;
           }
           .compare_review {
             display: flex;
             flex-direction: revert;
             justify-content: flex-start;
             align-items: flex-start;
           }
           p.cost_compare_review {
             margin-top: -5px;
             margin-left: 10px;
             color:#fff;
           }
           @media (max-width: 1024px) {
             .section__contents {
               flex-direction: column;
             }
           }
           @media (max-width: 768px) {
             .cost_compare_heading{
               font-size: 26px;
             }
             .industry_compare_info {
               text-align: center;
             }


             a.compare_btn {
               width: 100%;
             }
             .compare_btn__wrapper{
               margin: 25px 0 !important;
             }
             .compare_price {
                 font-size: 26px !important;
                 padding-top: 10px;
             }
           }
           @media (max-width: 550px) {
             .cost_compare_inner {
               padding: 16px!important;
               border-radius: 10px!important;
             }
           }
        </style>
      </div>
      <div class="image-with-text__text-item grid__item">
        <div
          id="ImageWithText--{{ section.id }}"
          class="image-with-text__content image-with-text__content--{{ section.settings.desktop_content_position }} image-with-text__content--desktop-{{ section.settings.desktop_content_alignment }} image-with-text__content--mobile-{{ section.settings.mobile_content_alignment }} image-with-text__content--{{ section.settings.height }} gradient color-{{ section.settings.color_scheme }} content-container"
        >
          {%- for block in section.blocks -%}
            {% case block.type %}
              {%- when 'heading' -%}
                <h2
                  class="image-with-text__heading {{ block.settings.heading_size }} title-with-highlight"
                  style="--hightlight-color:{{ block.settings.title_highlight_color }}"
                  {{ block.shopify_attributes }}
                >
                  {{ block.settings.heading }}
                </h2>
              {% when 'rating_stars' %}
                {% render 'rating-stars-block', block: block, margins: false, block_attributes: true %}

              {% when 'trustpilot_stars' %}
                {% render 'trustpilot-stars-block', block: block, margins: true, block_attributes: true %}

              {% when 'featuredreview' %}
                {% render 'review-new', block: block, margins: false, block_attributes: true %}

              {% when 'featuredreview2' %}
                {% render 'new-featured-review-with-image', block: block, margins: false, block_attributes: true %}

              {%- when 'caption' -%}
                <p
                  class="image-with-text__text image-with-text__text--caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }} {{ block.settings.text_style }}"
                  {{ block.shopify_attributes }}
                >
                  {{ block.settings.caption }}
                </p>
              {%- when 'text' -%}
                <div class="image-with-text__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
                  {{ block.settings.text }}
                </div>
              {%- when 'button' -%}
                {%- if block.settings.button_label != blank -%}
                  <a
                    {% if block.settings.button_link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %} {%- if block.settings.atc_icon == 'arrow_end' -%}arrow{%- endif -%} {%- if block.settings.atc_icon == 'none' -%} {%- endif -%}"
                    style="{% if block.settings.buttonfullwidth %} width: 100%;{% endif %} padding-top:{{ block.settings.buttonpadding }}px;padding-bottom:{{ block.settings.buttonpadding }}px;"
                    {{ block.shopify_attributes }}
                  >
                    {{ block.settings.button_label | escape }}
                  </a>
                {%- endif -%}
              {% when 'atc_button' %}
                {% if block.settings.atc_product == blank %}
                  <button
                    id="SectionAtcBtn-{{ section.id }}"
                    type="button"
                    class="button main-product-atc button--has-spinner"
                    {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
                      disabled
                    {% endif %}
                    {{ block.shopify_attributes }}
                  >
                    {{ block.settings.button_label }}
                    <div class="loading-overlay__spinner">
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        class="spinner"
                        viewBox="0 0 66 66"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                      </svg>
                    </div>
                  </button>
                {% else %}
                  {% assign product_form_id = 'section-product-form-' | append: section.id | append: block.id %}
                  {% render 'separate-atc-btn',
                    product: block.settings.atc_product,
                    product_form_id: product_form_id,
                    label: block.settings.button_label,
                    skip_cart: block.settings.atc_skip_cart
                  %}
                {% endif %}
              {%- when 'text_with_icon' -%}
                {% render 'text-with-icon-block', block: block, mobile_align: true, block_attributes: true %}
              {%- when 'moneybackguarantee' -%}
                <div
                  class="product-info__image-block product-info__image-block--mobile-alignment"
                  style="--image-alignment:{{ block.settings.alignment }};--mobile-image-alignment:{{ block.settings.mobile_alignment }};"
                >
                  {% render 'moneybackcheck', block: block %}
                </div>

              {% when 'image' %}
                <div
                  class="product-info__image-block product-info__image-block--mobile-alignment"
                  style="--image-width:{{ block.settings.width }}%;--image-alignment:{{ block.settings.alignment }};--mobile-image-alignment:{{ block.settings.mobile_alignment }};--border-radius:{{ block.settings.border_radius | divided_by: 10.0 }}rem;"
                >
                  {% if block.settings.image != blank %}
                    {%- capture sizes -%}
                      (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 | times: block.settings.width | divided_by: 100.0 }}px,
                      (min-width: 750px) calc(({{ block.settings.width }}vw - 130px) / 2), calc(({{ block.settings.width }}vw - 50px) / 2)
                    {%- endcapture -%}
                    {{
                      block.settings.image
                      | image_url: width: 1500
                      | image_tag: loading: 'lazy', sizes: sizes, widths: '165, 360, 535, 750, 1070, 1500'
                    }}
                  {% else %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                  {% endif %}
                </div>
              {%- when 'icon_with_text' -%}
                {% render 'icon-with-text', block: block %}
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Price compare",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "display_id",
      "label": "Display section ID",
      "info": "ID is used in the Sections group section to merge 2 sections. ID can also be put inside any button link and the button will scroll to this section.",
      "default": false
    },
    {
      "type": "select",
      "id": "visibility",
      "options": [
        {
          "value": "desktop-hidden",
          "label": "Mobile only"
        },
        {
          "value": "mobile-hidden",
          "label": "Desktop only"
        },
        {
          "value": "always-display",
          "label": "All devices"
        }
      ],
      "label": "Display on",
      "default": "always-display"
    },
    {
      "type": "header",
      "content": "Compare price settings"
    },
        {
      "type": "range",
      "id": "uspriceheight",
      "min": 100,
      "max": 500,
      "step": 50,
      "unit": "px",
      "label": "Us price height",
      "default": 200
    },
    {
      "type": "range",
      "id": "otherpriceheight",
      "min": 100,
      "max": 500,
      "step": 50,
      "unit": "px",
      "label": "Other price height",
      "default": 400
    },

{
"type": "text",
"id": "brandname",
"label": "Your brand name",
"default": "US"
},
{
"type": "text",
"id": "brandprice",
"label": "Product price",
"default": "$XX"
},

{
"type": "text",
"id": "otherbrandname",
"label": "Other Industry",
"default": "Other Industry"
},
{
"type": "text",
"id": "otherbrandprice",
"label": "Other product price",
"default": "$XX"
},

{
"type": "text",
"id": "subheadlinetext",
"label": "Subheadline text",
"default": "Average monthly price of [BRAND] subscription"
},
    {
      "type": "header",
      "content": "Color settings"
    },

  {
"type": "color",
"id": "uscomparebackground",
"label": "US Background color",
"default": "#2F465F"
},
      {
"type": "color",
"id": "usheadingcolor",
"label": "Heading color",
"default": "#fff"
},
 {
"type": "color",
"id": "otherheadingcolor",
"label": "Other heading color",
"default": "#000"
},
 {
"type": "color",
"id": "pricecolor",
"label": "Price color",
"default": "#000"
},
  {
"type": "color",
"id": "othercomparebackground",
"label": "Other Background color",
"default": "#B6B6B6"
},
      {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "Content color scheme"
    },
    {
      "type": "select",
      "id": "section_color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "Section color scheme"
    },


    {
      "type": "header",
      "content": "Desktop layout"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__3.label"
        }
      ],
      "default": "medium",
      "label": "Price section width"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "Price first"
        },
        {
          "value": "text_first",
          "label": "Price second"
        }
      ],
      "default": "image_first",
      "label": "Price placement"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "middle",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "top",
      "label": "t:sections.image-with-text.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.desktop_content_alignment.label"
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "checkbox",
      "id": "mobile_full_media_width",
      "label": "Full media width",
      "default": false
    },
    {
      "type": "select",
      "id": "mobile_direction",
      "options": [
        {
          "value": "normal",
          "label": "Media first"
        },
        {
          "value": "reverse",
          "label": "Media second"
        }
      ],
      "default": "normal",
      "label": "Mobile media position"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.mobile_content_alignment.label"
    },
    {
      "type": "header",
      "content": "Mobile padding"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 16
    },
    {
      "type": "header",
      "content": "Desktop padding"
    },
    {
      "type": "range",
      "id": "desktop_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "desktop_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Heading text",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label",
           "info": "Bold certain words to highlight them with a different color."
        },
         {
          "type": "color",
          "id": "title_highlight_color",
          "label": "Heading highlight color",
          "default": "#6D388B"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "rating_stars",
      "name": "Rating stars",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "rating",
          "label": "Rating",
          "min": 1,
          "max": 5,
          "step": 0.1,
          "default": 4.8
        },
        {
          "type": "color",
          "id": "star_color",
          "default": "#ffcc00",
          "label": "Stars color"
        },
        {
          "type": "select",
          "id": "bg_stars_style",
          "options": [
            {
              "value": "outlined",
              "label": "Outlined"
            },
            {
              "value": "full",
              "label": "Full"
            }
          ],
          "label": "Background stars style",
          "default": "full"
        },
        {
          "type": "color",
          "id": "bg_star_color",
          "default": "#ececec",
          "label": "Background stars color"
        },
        {
          "type": "inline_richtext",
          "id": "label",
          "label": "Text",
          "default": "(xxxx Reviews)"
        },
        {
          "type": "range",
          "id": "size",
          "min": 10,
          "max": 24,
          "step": 1,
          "unit": "px",
          "default": 16,
          "label": "Text size"
        },
        {
          "type": "text",
          "id": "scroll_id",
          "label": "ID of the section to scroll to"
        }
      ]
    },
     {
      "type": "trustpilot_stars",
      "name": "Trustpilot stars",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "rating",
          "label": "Rating",
          "min": 1,
          "max": 5,
          "step": 0.1,
          "default": 5
        },
        {
          "type": "color",
          "id": "star_color",
          "default": "#00b67a",
          "label": "Active stars container color"
        },
        {
          "type": "color",
          "id": "bg_star_color",
          "default": "#c8c8c8",
          "label": "Background stars container color"
        },
        {
          "type": "color",
          "id": "star_symbol_color",
          "default": "#fff",
          "label": "Stars inside symbol color"
        },
        {
          "type": "inline_richtext",
          "id": "label",
          "label": "Text",
          "default": "(xxxx Reviews)"
        },
        {
          "type": "range",
          "id": "size",
          "min": 10,
          "max": 24,
          "step": 1,
          "unit": "px",
          "default": 16,
          "label": "Text size"
        },
        {
          "type": "text",
          "id": "scroll_id",
          "label": "ID of the section to scroll to"
        }
      ]
    },
 {
      "type": "featuredreview",
      "name": "Featured review",
      "limit": 1,
      "settings": [

{
"type": "color",
"id": "review_background_color",
"label": "Review Background Color",
"default": "#FFFFFF"
},
{
"type": "color",
"id": "review_border_color",
"label": "Review Border Color",
"default": "#FFFFFF"
},
{
"type": "color",
"id": "star_color",
"label": "Star Color",
"default": "#FFC700"
},
{
"type": "color",
"id": "username_color",
"label": "Username Color",
"default": "#000000"
},
{
"type": "text",
"id": "username",
"label": "Username",
"default": "Cassi P"
},
{
"type": "checkbox",
"id": "verified_customer",
"label": "Show Verified Customer Badge",
"default": true
},
{
"type": "color",
"id": "verified_icon_color",
"label": "Verified Icon Color",
"default": "#00abf0"
},
{
"type": "color",
"id": "verified_text_color",
"label": "Verified Text Color",
"default": "#00abf0"
},
{
"type": "text",
"id": "verified_text",
"label": "Verified Text",
"default": "Verified"
},
{
"type": "color",
"id": "review_text_color",
"label": "Review Text Color",
"default": "#000000"
},
{
"type": "textarea",
"id": "review_text",
"label": "Review Text",
"default": "Enter a customer review here."
},

        {
          "type": "range",
          "id": "review_textsize",
          "min": 15,
          "max": 18,
          "step": 1,
          "unit": "px",
          "default": 16,
          "label": "Review text size"
        }

      ]
 },

{
      "type": "featuredreview2",
      "name": "Review with image",
      "settings": [

          {
          "type": "image_picker",
          "id": "customerimage",
          "label": "Customer image",
          "info": "Recommended to have your image cropped in a circle."
        },

        {
          "type": "textarea",
          "id": "reviewtext",
          "default": "Enter your review text here",
           "label": "Review text"
        },
          {
          "type": "text",
          "id": "reviewname",
          "default": "Customer name",
             "label": "Customer name"
        },
          {
          "type": "text",
          "id": "verifiedbuyer",
          "default": "Verified Buyer",
          "label": "Verified Buyer"
        },

           {
        "type": "color",
        "id": "checkcolor",
        "label": "Checkmark Color",
        "default": "#000000"
      },
          {
        "type": "color",
        "id": "backgroundcolor",
        "label": "Background Color",
        "default": "#fafafa"
      },
                {
          "type": "header",
          "content": "Font size"
        },
        {
          "type": "range",
          "id": "reviewfontsizemobile",
          "min": 15,
          "max": 18,
          "step": 1,
          "unit": "px",
          "default": 18,
          "label": "Mobile text size"
        },
        {
          "type": "range",
          "id": "reviewfontsize",
          "min": 16,
          "max": 19,
          "step": 1,
          "unit": "px",
          "default": 17,
          "label": "Desktop text size"
        }
      ]
    },
       {
      "type": "moneybackguarantee",
      "name": "Money Back Guarantee",
      "settings": [


 {
            "type": "text",
            "id": "moneybackguarantee",
            "label": "Money Back Guarantee",
             "default": "30 DAY MONEY-BACK GUARANTEE"
        },
            {
          "type": "select",
          "id": "alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
         {
          "type": "select",
          "id": "mobile_alignment",
          "label": "Mobile text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.image-with-text.blocks.caption.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline",
          "label": "t:sections.image-with-text.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.image-with-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-with-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-with-text.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "text_with_icon",
      "name": "Text with icon",
      "settings": [
        {
          "type": "header",
          "content": "Text"
        },
        {
          "type": "range",
          "id": "mobile_text_size",
          "min": 8,
          "max": 24,
          "step": 1,
          "unit": "px",
          "default": 14,
          "label": "Mobile text size"
        },
        {
          "type": "range",
          "id": "desktop_text_size",
          "min": 10,
          "max": 30,
          "step": 1,
          "unit": "px",
          "default": 16,
          "label": "Desktop text size"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "select",
          "id": "mobile_alignment",
          "label": "Mobile text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "color",
          "id": "text_color",
          "default": "#121212",
          "label": "Text color"
        },
        {
          "type": "inline_richtext",
          "id": "text_1",
          "default": "Text with icon",
          "label": "Text #1"
        },
        {
          "type": "inline_richtext",
          "id": "text_2",
          "default": "Text with icon",
          "label": "Text #2"
        },
        {
          "type": "inline_richtext",
          "id": "text_3",
          "default": "Text with icon",
          "label": "Text #3"
        },
        {
          "type": "header",
          "content": "Icons"
        },
        {
          "type": "range",
          "id": "icon_scale",
          "min": 100,
          "max": 200,
          "step": 5,
          "default": 120,
          "unit": "%",
          "label": "Icon scale",
          "info": "Relative to text size"
        },
        {
          "type": "color",
          "id": "icon_color",
          "default": "#121212",
          "label": "Icons color"
        },
        {
          "type": "text",
          "id": "icon_1",
          "default": "check_circle",
          "label": "Icon #1",
          "info": "[View all available icons](https:\/\/fonts.google.com\/icons?icon.set=Material+Symbols&icon.platform=web)."
        },
        {
          "type": "checkbox",
          "id": "filled_icon_1",
          "default": false,
          "label": "Filled icon #1"
        },
        {
          "type": "image_picker",
          "id": "custom_icon_1",
          "label": "Custom icon #1"
        },
        {
          "type": "text",
          "id": "icon_2",
          "default": "check_circle",
          "label": "Icon #2",
          "info": "[View all available icons](https:\/\/fonts.google.com\/icons?icon.set=Material+Symbols&icon.platform=web)."
        },
        {
          "type": "checkbox",
          "id": "filled_icon_2",
          "default": false,
          "label": "Filled icon #2"
        },
        {
          "type": "image_picker",
          "id": "custom_icon_2",
          "label": "Custom icon #2"
        },
        {
          "type": "text",
          "id": "icon_3",
          "default": "check_circle",
          "label": "Icon #3",
          "info": "[View all available icons](https:\/\/fonts.google.com\/icons?icon.set=Material+Symbols&icon.platform=web)."
        },
        {
          "type": "checkbox",
          "id": "filled_icon_3",
          "default": false,
          "label": "Filled icon #3"
        },
        {
          "type": "image_picker",
          "id": "custom_icon_3",
          "label": "Custom icon #3"
        },
        {
          "type": "header",
          "content": "Container"
        },
        {
          "type": "select",
          "id": "width",
          "options": [
            {
              "value": "fit-content",
              "label": "Fit text"
            },
            {
              "value": "100%",
              "label": "Full"
            }
          ],
          "default": "100%",
          "label": "Width"
        },
        {
          "type": "select",
          "id": "direction",
          "options": [
            {
              "value": "horizontal",
              "label": "Horizontal"
            },
            {
              "value": "vertical",
              "label": "Vertical"
            }
          ],
          "default": "vertical",
          "label": "Stacking direction",
          "info": "Applied when multiple texts are added."
        },
        {
          "type": "range",
          "id": "column_gap",
          "min": 0,
          "max": 6,
          "step": 0.5,
          "label": "Stacking spacing",
          "default": 3
        },
        {
          "type": "checkbox",
          "id": "enable_bg",
          "default": false,
          "label": "Enable background",
          "info": "The following settings are applied when this option is enabled."
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background color",
          "default": "#F3F3F3"
        },
        {
          "type": "range",
          "id": "corner_radius",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "t:settings_schema.global.settings.corner_radius.label",
          "default": 40,
          "info": "Relative to font size"
        },
        {
          "type": "range",
          "id": "padding",
          "min": 1,
          "max": 5,
          "step": 0.5,
          "label": "Padding",
          "default": 3
        },
        {
          "type": "range",
          "id": "border_size",
          "min": 0,
          "max": 5,
          "step": 1,
          "label": "Border thickness",
          "unit": "px",
          "default": 0
        },
        {
          "type": "color",
          "id": "border_color",
          "label": "Border color",
          "default": "#B7B7B7"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "width",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "%",
          "label": "Width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "flex-start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "flex-end",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "mobile_alignment",
          "label": "Mobile alignment",
          "options": [
            {
              "value": "flex-start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "flex-end",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "range",
          "id": "border_radius",
          "min": 0,
          "max": 40,
          "step": 2,
          "unit": "px",
          "label": "Corner radius",
          "default": 0
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        },
{
"type": "checkbox",
"id": "buttonfullwidth",
"default": true,
"label": "Full width button"
},
         {
        "type": "select",
        "id": "atc_icon",
        "options": [
             {
            "value": "none",
            "label": "None"
          },
          {
            "value": "arrow_end",
            "label": "Show arrow"
          }
        ],
        "default": "arrow_end",
        "label": "Arrow icon"
      },
         {
          "type": "range",
          "id": "buttonpadding",
          "min": 10,
          "max": 30,
          "step": 5,
          "unit": "px",
          "default": 15,
          "label": "Button padding"
        },

      ]
    },
    {
      "type": "atc_button",
      "name":"Add to Cart button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Add to Cart"
        },
        {
          "type": "product",
          "id": "atc_product",
          "label": "ATC Custom product",
          "info": "IMPORTANT: If empty, the button will add the main product FROM THE PRODUCT PAGE to cart (INCLUDING the selected variant/quantity, upsells etc.)"
        },
        {
          "type": "checkbox",
          "id": "atc_skip_cart",
          "label": "ATC Custom product skip cart"
        }
      ]
    },
    {
      "type": "icon_with_text",
      "name": "Icons with text",
      "settings": [
        {
          "type": "select",
          "id": "layout",
          "options": [
            {
              "value": "horizontal",
              "label": "t:sections.main-product.blocks.icon_with_text.settings.layout.options__1.label"
            },
            {
              "value": "vertical",
              "label": "t:sections.main-product.blocks.icon_with_text.settings.layout.options__2.label"
            }
          ],
          "default": "horizontal",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.layout.label"
        },
        {
          "type": "select",
          "id": "icon_color",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.all.colors.accent_1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.all.colors.accent_2.label"
            },
            {
              "value": "outline-button",
              "label": "t:settings_schema.styles.settings.accent_icons.options__3.label"
            },
            {
              "value": "text",
              "label": "t:settings_schema.styles.settings.accent_icons.options__4.label"
            }
          ],
          "default": "accent-1",
          "label": "Icon color"
        },
        {
          "type": "header",
          "content": "Desktop"
        },
        {
          "type": "range",
          "id": "desktop_icon_size",
          "min": 16,
          "max": 72,
          "step": 4,
          "unit": "px",
          "default": 48,
          "label": "Icon size"
        },
        {
          "type": "range",
          "id": "desktop_spacing",
          "min": 2,
          "max": 24,
          "step": 2,
          "unit": "px",
          "default": 12,
          "label": "Icon & text spacing"
        },
        {
          "type": "range",
          "id": "desktop_text_size",
          "min": 12,
          "max": 34,
          "step": 2,
          "unit": "px",
          "default": 18,
          "label": "Text size"
        },
        {
          "type": "header",
          "content": "Mobile"
        },
        {
          "type": "range",
          "id": "mobile_icon_size",
          "min": 12,
          "max": 60,
          "step": 4,
          "unit": "px",
          "default": 40,
          "label": "Icon size"
        },
        {
          "type": "range",
          "id": "mobile_spacing",
          "min": 2,
          "max": 24,
          "step": 2,
          "unit": "px",
          "default": 10,
          "label": "Icon & text spacing"
        },
        {
          "type": "range",
          "id": "mobile_text_size",
          "min": 8,
          "max": 26,
          "step": 2,
          "unit": "px",
          "default": 14,
          "label": "Text size"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.icon_with_text.settings.content.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.content.info"
        },
        {
          "type": "text",
          "id": "icon_1",
          "default": "favorite",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.icon_1.label",
          "info": "[View all available icons](https:\/\/fonts.google.com\/icons?icon.set=Material+Symbols&icon.platform=web)."
        },
        {
          "type": "checkbox",
          "id": "icon_1_fill",
          "default": false,
          "label": "First icon fill"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.image_1.label"
        },
        {
          "type": "text",
          "id": "heading_1",
          "default": "Heading",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.heading_1.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
        },
        {
          "type": "text",
          "id": "icon_2",
          "default": "undo",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.icon_2.label",
          "info": "[View all available icons](https:\/\/fonts.google.com\/icons?icon.set=Material+Symbols&icon.platform=web)."
        },
        {
          "type": "checkbox",
          "id": "icon_2_fill",
          "default": false,
          "label": "Second icon fill"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.image_2.label"
        },
        {
          "type": "text",
          "id": "heading_2",
          "default": "Heading",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.heading_2.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
        },
        {
          "type": "text",
          "id": "icon_3",
          "default": "local_shipping",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.icon_3.label",
          "info": "[View all available icons](https:\/\/fonts.google.com\/icons?icon.set=Material+Symbols&icon.platform=web)."
        },
        {
          "type": "checkbox",
          "id": "icon_3_fill",
          "default": false,
          "label": "Third icon fill"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.image_3.label"
        },
        {
          "type": "text",
          "id": "heading_3",
          "default": "Heading",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.heading_3.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Price compare",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
